@(emailForm: Form[String])(implicit request: Request[Any], flash: Flash, messages: Messages)

@import b3.vertical.fieldConstructor
@import controllers.routes
@import views.html.auth._

@loginMain("Forgot Password") {

	@loginWrapper() {
		@tags.alertFromRequest(request, "error")
		@b3.form(routes.SignupController.handleForgotPassword) {
				<legend>Enter your email to reset</legend>
				@b3.text(emailForm("email"), '_hiddenLabel -> "Email", 'placeholder -> "your@email.com", 'autofocus -> true, 'style -> "width:300px")
				@b3.submit('class -> "btn btn-primary") { Submit }
		}
	}
}