@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: Request[Any], flash: Flash, messages: Messages)

@import b3.vertical.fieldConstructor
@import controllers.routes
@import views.html.auth._

@loginMain("Reset Password") {

	@loginWrapper() {
		@tags.alertFromRequest(request, "error")
		@passwordsForm.globalError.map { error =>
			@tags.alert(error.message, "error")
		}
		@b3.form(routes.SignupController.handleResetPassword(tokenId)) {
			<legend>Reset your password</legend>
			@b3.password(passwordsForm("password1"), '_hiddenLabel -> "Password", 'placeholder -> "password", 'autofocus -> true, 'style -> "width:300px")
			@b3.password(passwordsForm("password2"), '_hiddenLabel -> "Repeat password", 'placeholder -> "repeat password", 'style -> "width:300px")
			@b3.submit('class -> "btn btn-primary") { Reset }
		}
	}
}
