@(signUpForm: Form[_])(implicit request: Request[Any], flash: Flash, messages: Messages)

@import b3.vertical.fieldConstructor

@import controllers.routes
@import views.html.auth._

@loginMain("Sign Up") {

	@loginWrapper() {
		@tags.alertFromRequest(request, "error")
		@b3.form(routes.SignupController.handleStartSignUp) {
			<legend>Sign up for a new account</legend>
			@b3.email(signUpForm("email"), 'placeholder -> "example@mail.com", '_help -> "", 'autofocus -> true, 'style -> "width:300px")
			@b3.password(signUpForm("password"), 'placeholder -> "password", 'style -> "width:300px")
			@b3.password(signUpForm("password2"), 'placeholder -> "confirm password", 'style -> "width:300px")
			@b3.submit('class -> "btn btn-primary") { Sign up }
			<div class="post-form-opts">
				<p>Already a member? <a href="@routes.AuthController.login">Sign in here</a></p>
			</div>
		}
	}
}