@(nav:String = "", body: Html)

@import controllers.admin.routes
@import views.html.tags._
@import views.html.admin._
@import play.api.Play.current

<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">datomisca-dao</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="@(" active".when(nav=="user"))"><a class='js-pjax' data-pjax="#contentArea" href="@routes.UserController.list()">Users</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Tech<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="@(" active".when(nav=="Configuration"))"><a class='js-pjax' data-pjax="#contentArea" href="@routes.ConfigurationController.list()"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Configuration</a></li>
                    <li class="@(" active".when(nav=="Query"))"><a class='js-pjax' data-pjax="#contentArea" href="@routes.TechController.query()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Query</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:40px">
            <li><a href="@controllers.routes.AuthController.logout()">Logout</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div>

<section id="main">

    @body

</section>