@(form: Form[_], id: String, label: String, instructions: String)(implicit messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-5") }
@import views.html.tags._

@b3.file(form(id), '_label -> label, '_help -> instructions)

@b3.free() {
    <div>
    @form(id).value match {
        case Some(img) => {
            <img src="@img" class="img-thumbnail"/>
        }
        case None => {
            <img src="@_asset("images/no_image_80_x_50.png")" class="img-thumbnail"/>
        }
    }
    </div>
}
