@(searchForm: Form[String], results: (Seq[String], Seq[(Long, Seq[String])], String))(implicit request: Request[Any], flash: Flash, messages: Messages)

@import controllers.admin.routes
@import views.html.admin.tags._
@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-5")
}

@adminMain("Datomic", "Tech") {

    <h1 id="homeTitle">Manual Query</h1>

    @b3.form(action = routes.TechController.query(), 'id -> "searchForm") {
        @b3.textarea(searchForm("query"), '_label -> "", '_showConstraints -> false, 'placeholder -> "Query", 'class -> "noautosize", 'style -> "width: 500px;height: 200px;", 'placeholder -> ":find ?u :where \n[?u :user/email]")
        @b3.submit('class -> "btn btn-primary") { Search }
        <p class="text-error"></p>
    }

    <table class="table goals table-striped table-fixed-header">
        <thead class="header">

            <tr>
                <th>Id</th>
                @for(entity <- results._1) {
                    <th>@entity</th>
                }
            </tr>
        </thead>
        <tbody>

        @for(entity <- results._2) {
            <tr>
                <td>@entity._1</td>
                @for(entity2 <- entity._2) {
                    <td>@entity2</td>
                }
            </tr>
        }

        </tbody>
    </table>

    <div style="white-space: pre ;"> @{
        results._3
    }</div>

}
