@(title: String)(implicit config: play.api.Configuration, env: play.api.Environment)

@import views.html.tags._

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

@* CSS *@
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href=@_asset("stylesheets/mainconcat.min.css") >

@* IMAGES *@
@_favicon()

@* Google Analytics *@
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '@config.get[String]("meta.ga")', 'auto');
ga('send', 'pageview');
ga('require', 'linkid', 'linkid.js');
</script>


@* FIXME  Can't rely on google code as a CDN. Should include this locally or find proper host. *@
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


@* code.jquery.com is a cdn despite yahoo saying no *@
<script>
    (function(g,b,d){var c=b.head||b.getElementsByTagName("head"),D="readyState",E="onreadystatechange",F="DOMContentLoaded",G="addEventListener",H=setTimeout;
    function f(){
    $LAB
        @if(env.resource("/public/client-jsdeps.min.js").isDefined) {
            .script(@_asset("client-jsdeps.min.js")).wait()
        } else { @if(env.resource("/public/client-jsdeps.js").isDefined) {
            .script(@_asset("client-jsdeps.js")).wait()
        }}
        @if(env.mode == play.api.Mode.Prod) {
            .script(@_asset("client-opt.js")).wait()
        } else {
            .script(@_asset("client-fastopt.js")).wait()
        }
        .script(@_asset("client-launcher.js"))
    }
    H(function(){if("item"in c){if(!c[0]){H(arguments.callee,25);return}c=c[0]}var a=b.createElement("script"),e=false;a.onload=a[E]=function(){if((a[D]&&a[D]!=="complete"&&a[D]!=="loaded")||e){return false}a.onload=a[E]=null;e=true;f()};

    a.src=@_asset("javascripts/LAB.min.js");

    c.insertBefore(a,c.firstChild)},0);if(b[D]==null&&b[G]){b[D]="loading";b[G](F,d=function(){b.removeEventListener(F,d,false);b[D]="complete"},false)}})(this,document);
</script>
