@(configurations:datomiscadao.Page[Configuration])(implicit request: Request[Any], flash: Flash, user: User, messages: Messages, config: play.api.Configuration, env: play.api.Environment, webJarAssets: WebJarAssets)

@import controllers.admin.routes

@import views.html.admin._
@import b3.inline.fieldConstructor
@import views.html.admin.tags._


@adminMain("Configuration", "Configuration") {

    <div style="float:right;">@addButton(routes.ConfigurationController.create())</div>

    <h2>Configuration</h2>

    @_listSuccessFlash()

        <table class="table table-striped table-hover table-bordered table-fixed-header table-editable">
            <thead class="header">
                <tr>
                    <th>ID</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(configuration <- configurations.items) {
                <tr id="row-@configuration.id">
                    <td><a href="@routes.ConfigurationController.edit(configuration.id)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td>
                        <span class="field-editable" data-type="text" data-pk="@configuration.id" data-name="configKey" data-original-title="Key" data-placement="bottom" data-inputclass="input-xxlarge" data-value="@configuration.configKey">@configuration.configKey</span>
                    </td>
                    <td>
                        <span class="field-editable" data-type="textarea" data-pk="@configuration.id" data-name="configValue" data-original-title="Value" data-placement="bottom" data-inputclass="input-xxlarge" data-params="{maxLength: 5000}" data-value="@configuration.configValue">@configuration.configValue</span>
                    </td>
                    <td>
                        <span class="field-editable" data-type="textarea" data-pk="@configuration.id" data-name="notes" data-original-title="Notes" data-placement="bottom" data-inputclass="input-xxlarge" data-params="{maxLength: 5000}" data-value="@configuration.notes">@configuration.notes</span>
                    </td>
                    <td>    @b3.form(controllers.admin.routes.ConfigurationController.delete(configuration.id), 'class -> "pull-right") {
                        @b3.submit('class -> "btn btn-danger"){ <span class="glyphicon glyphicon-remove"></span> }
                    }</td>
                </tr>
            }
            </tbody>
        </table>

}