@(form: Form[_], reUrl: String)(implicit request: Request[Any], flash: Flash, messages: Messages)

@import controllers.admin.routes
@import views.html.admin.tags._

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-5")
}

@* Try and remove chrome autofill *@
<input style="display:none">
<input type="password" style="display:none">

@b3.hiddens("reUrl" -> reUrl)
@b3.email(form("email"), '_label -> "Email", 'autocomplete -> "off")
@b3.inputType("password", form("password"), '_label -> "Password", '_help -> "With at least 8 characters", 'autocomplete -> "off")
@b3.checkbox(form("active"), '_text -> "Active", 'value -> true)
@b3.select(form("role"),
    User.Role.displayValues,
    '_label -> "Role", '_default -> "-- Select --",
    '_showConstraints -> false)

@b3.textarea(form("notes"), '_label -> "Admin Notes", '_help -> "Only visible in this form, not to consumer.")

@_saveCancel(reUrl)